body{
  background-color: rgb(253, 255, 255);
}

.nav-link{
  padding: 10px !important;
  margin: 2px !important;
}

li :hover{
  color: rgb(144, 144, 238) !important;
  transition: 0.7s;
}


.advert1{
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url('/assets/images/carousel/banner_8.jpg');
}

.advert2{

}


.navbar-toggler{
  outline: none !important;
  border: none !important;
}

.navbar-toggler .mdi :hover{
  color: aqua;
}


.time-text{
  padding-top:3px;
}

.row-footer{
  color: rgb(158, 157, 157);
}

.footer-div{
border-radius: 30px;
justify-content: center;
height: 24px;
display:flex;
}


.ul-list{
 position: relative;
}

.ul-list .ul-list-icon{
position: absolute;
top: 4px;
left: 47px
}


/* for TOP nav form input with search icon */
.search {
  position: relative;
}

.search input {
  height: 45px;
  text-indent: 40px;
  border: 2px solid #d6d4d4
}


.search .icon {
  position: absolute;
  top: 11px;
  left: 20px
}


.nav-form-input{
width: 676px !important;
border: none !important;
background-color: #ecf3fa;
}

/* end */

 /* linkup logo */

 .logo{
  width: 250px;
  height: 60px;
}

@media( max-width: 400px){
  .logo{
      width: 190px;
      height: 40px;
  }
}

.small-screen-logo{
  display: none;
}

@media( max-width: 400px){
  .small-screen-logo{
    display: block;
  }
}
@media( max-width: 991px){
  .small-screen-logo{
    display: block;
    margin-right: auto;
  }
}


/* card body main content */
.card{
background-color: white;
border: none;
box-shadow: 0px 1px 2px 0px #b7b8b9e0;
}

.card1{
  box-shadow: 0px 0px 0px 0px #727374e0 !important;
}


.card .card-header{
/* background-color: #222 !important; */
background-color: white;
border: none;
}
/* end */


/* side nav left and right */
.sidebar-left{  
margin-top: 16px;  
min-height: 100vh;
position: fixed;
top: 0;
bottom: 0;
z-index: 1;
transition: 0.2s ease-in;
visibility: collapse;
opacity: 0;
/* overflow-x: hidden; */
/* transform: scaleX(5); */
/* transform: scaleY(5); */
/* transform: rotateX(90deg); */
/* transform: rotateY(90deg); */
transform: rotateZ(90deg);
overflow-x: hidden;
}

.class1{
 visibility: visible;
 opacity: 1;
 /* transform: scaleX(1); */
 /* transform: scaleY(1); */
 /* transform: rotateX(0deg); */
 /* transform: rotateY(0deg); */
 transform: rotateZ(0deg);
}


@media(max-width:768px) {
 .sidebar-left{
   width: auto;
 }
}

@media(min-width: 770px){
  .sidebar-left{
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: 0.2s ease-in;
    visibility: visible;
    opacity: 1;
    /* transform: rotateX(0deg); */
    /* transform: scaleX(1); */
    /* transform: scaleY(1); */
    /* transform: rotateY(0deg); */
    transform: rotateZ(0deg);
    } 
}


.sidebar-left a{
 text-decoration: none;
 font-size: 13px;
 display: block;
 transition: 0.3s;
}


.sidebar-right{
  margin-top: 16px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
  overflow-x: hidden;
}

.sidebar-right ul {
  box-shadow: 0px 1px 1px 0px #b7b8b9e0;
}

.main-view{
padding: 10px;
min-height: 100vh;
}

.main-view .content {
margin-top: 54px;
justify-content: center !important;
padding: 2px;
}


.btn-grad {background-image: linear-gradient(to right, #8e26f0 0%, #21abc4  51%, #4882a7  100%)}
.btn-grad {
   /* margin: 10px; */
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



/* Preview */
.preview-list .preview-item {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-align-items: flex-start;
align-items: flex-start;
padding: 1rem 0rem;
font-size: .875rem; }
.preview-list .preview-item:last-child {
  border-bottom: 0; }
.preview-list .preview-item .form-check {
  margin-top: 8px;
  margin-right: 1rem; }
.preview-list .preview-item .preview-thumbnail {
  color: #ffffff;
  position: relative; }
  .preview-list .preview-item .preview-thumbnail img,
  .preview-list .preview-item .preview-thumbnail .preview-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }

   .preview-list .preview-item .preview-thumbnail .status {
     border: 3px solid white;
   }

   .img-div{
     background-image: linear-gradient(45deg, yellow , rgb(255, 1, 120));
     padding: 2px;
     border-radius: 100%;
   }

   .preview-list .preview-item .preview-thumbnail .active{
     height: 12px;
     width: 12px;
     background-color: rgb(99, 245, 94);
     border-radius: 100%;
     position: absolute;
     top: 40px;
     left: 34px;
     border: 1px solid transparent;
     padding: 1px;
     box-shadow: 0px 0px 1px 1px rgb(109, 108, 108);
   }

    .preview-list .preview-item .preview-thumbnail img i,
    .preview-list .preview-item .preview-thumbnail .preview-icon i {
      font-size: 1.125rem;
      margin: 0; }
  .preview-list .preview-item .preview-thumbnail .badge {
    border: 2px solid #ffffff;
    border-radius: 100%;
    bottom: 5px;
    display: block;
    height: 14px;
    left: -5px;
    padding: 0;
    position: absolute;
    width: 14px; }
.preview-list .preview-item .preview-item-content {
  line-height: 1;
  padding-left: 15px; }
  .preview-list .preview-item .preview-item-content:first-child {
    padding-left: 0; }
  .preview-list .preview-item .preview-item-content p {
    margin-bottom: 10px;
    line-height: 1; }
    .preview-list .preview-item .preview-item-content p .content-category {
      font-family: 'source-sans-pro-semibold', sans-serif;
      padding-right: 15px;
      border-right: 1px solid #2c2e33; }
  .rtl .preview-list .preview-item .preview-item-content {
    padding-left: 0;
    padding-right: 1rem;
    margin-right: 0;
    margin-left: auto; }
.preview-list .preview-item .preview-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .preview-list .preview-item .preview-actions i {
    width: 29px;
    color: #e6e9ed;
    height: 29px;
    border: 2px solid #e6e9ed;
    border-radius: 100%;
    padding: 3px 6px;
    display: inline-block; }
    .preview-list .preview-item .preview-actions i:first-child {
      margin-right: 10px; }

.preview-list.comment-preview .preview-item {
padding: .87rem 0; }
.preview-list.comment-preview .preview-item:first-child {
  padding-top: 0; }
.preview-list.comment-preview .preview-item p {
  line-height: 27px; }

.preview-list.bordered .preview-item {
border-bottom: 1px solid #2c2e33; }
.preview-list.bordered .preview-item:last-child {
  border-bottom: 0; }
